/**
 * The archive list view
 */

.archive {
  article {
    @include x-rem(padding, 1);
    @include x-rem(margin-bottom, 2.5);

    background: $grayLight;

    &:first-child {
      @include x-rem(margin-top, 2.5);
    }
  }

	h2 {
    @include x-rem(margin-bottom, 1.25);

    margin-top: 0;

    a {
      @include x-transition(.2s);

      color: $mainTextColor;
      text-decoration: none;

      &:hover {
        color: $highlight;
      }
    }
	}

	img {
		@include x-rem(margin, 0 1 0 0);
		@include x-border-radius(50%);

		float: right;
	}

	footer {
		margin-top: 40px;
	}
}

/**
 * The archive detail view
 */
.archive-article {
  footer {
    @include x-rem(margin-top, 2.5);
  }
}