/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: $mainTextColor;
}

body {
	font-size: 1.1em;
	line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}


/*
 * Overwrite default bold styles
 */
b,
strong {
  font-weight: 400;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
	max-width: 100%;
	width: auto;
	height: auto;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

// Chrome Frame prompt
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


// Headlines
h2 {
	@include x-rem(font-size, 2);
	@include x-rem(margin, 0 0 1);

	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}


// Links
a {
	color: $highlight;

	&:visited {
		color: $highlight;
	}

	&:hover {
		text-decoration: none;
	}
}



/**
 * Button placeholder
 */
%button {
	@include x-rem(margin, 2 0);
	@include x-rem(padding, 0.8 2.5);
  @include x-transition(.2s);

	position: relative;
	display: inline-block;
	background: $highlight;
	color: #fff;
	text-decoration: none;

	&:hover {
    background: darken($highlight, 10%);
	}

	&:active {
    background: darken($highlight, 20%);
	}
}

.btn {
  text-align: center;

  > a {
    @extend %button;
  }
}


// Content
%container {
	@include x-rem(padding, 2);

	max-width: 40em;
	margin: 0 auto;
}

.site-content {
  @extend %container;
}

@media screen and (min-width: 30em) {
  %container {
    @include x-rem(padding, 6 2);
  }
}


// Teaser
.site-teaser {
	background: url(../img/slider.jpg) no-repeat top center;
	overflow: hidden;
	color: $mainTextColor;

	.teaser-content {
    @extend %container;

		color: #fff;
		text-align: left;
    font-weight: 100;
	}

  h2, h3 {
    @include x-rem(margin, 0 0 0.625 0);

    font-weight: 100;
  }

	.btn {
		text-align: right;
	}
}


// Meetup info
.slider-meetup {
  background: url(../img/slider-1.jpg) repeat top center;
  overflow: hidden;
  color: #fff;
}

@media screen and (min-width: 30em) {
  .slider-meetup {
    background-repeat: no-repeat;
  }
}


// Speaker
.speaker-profile {
  @include x-rem(margin-top, 2);

  position: relative;
  width: 180px;

  img {
    @include x-rem(margin, 0 3 0 0);
    @include x-border-radius(50%);

    float: left;
    max-width: 160px;
    border: 5px solid #fff;
  }
}

.speaker-date {
  @include x-border-radius(50%);

  position: absolute;
  top: -30px;
  right: 0;
  background: $highlight;
  color: #fff;
  border: 5px solid #fff;
  width: 80px;
  height: 80px;
  text-align: center;

  .date {
    @include x-rem(font-size, 2);
    @include x-rem(margin, 0.75 0 0);

    display: block;
    line-height: 2rem;
    font-weight: 400;
  }

  .month {
    text-transform: uppercase;
  }
}

.speaker-info {
  display: none;
}

@media screen and (min-width: 60em) {
  .speaker-info {
    position: absolute;
    bottom: -170px;
    right: 20px;
    display: block;

    .info {
      @include x-border-radius(50%);
      @include x-transition(.2s);

      position: relative;
      z-index: 20;
      font-family: Georigia, serif;
      font-weight: 400;
      text-align: center;
      font-size: 1.25rem;
      background: $highlight;
      color: #fff;
      width: 30px;
      height: 30px;
      border: 5px solid #fff;

      &:hover {
        cursor: pointer;
        background: darken($highlight, 10);
      }

      &:hover ~ .text {
        display: block;
      }
    }

    .text {
      @include x-rem(padding, 0.75);
      @include x-transition(.2s);

      position: absolute;
      top: 24px;
      left: 16px;
      width: 30em;
      z-index: 10;
      display: none;
      background: $highlight;
      color: #fff;

      h3 {
        font-weight: 100;
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }

      &:hover {
        display: block;
      }

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .abstract-container {
    width: 26em;
    float: right;
  }
}


// Newsletter
.newsletter {
	label {
		@include x-rem(padding-right, 0.5);
	}

	input[type="email"] {
		@include x-rem(font-size, 1);
    @include x-rem(padding, 0.9 0.9 0.75);
    @include x-rem(margin-right, 1);
    @include x-transition(.2s);

    background: #fdfdfd;
    border: 1px solid #e1e1e1;
    width: 13em;

    &:focus {
      outline: 0;
      border: 1px solid $highlight;
    }
	}

	input[type="submit"] {
		@extend %button;

    top: -1px;
		margin: 0;
		border: 0;
    font-weight: 200;

		&:focus {
			outline: 0;
		}
	}

  .blue {
    color: $highlight;
  }
}

@media screen and (min-width: 60em) {
  .newsletter {
    input[type="email"] {
      width: 20em;
    }
  }
}


// When and where
.slider-when {
  background: url(../img/slider-2.jpg) no-repeat top center;
  overflow: hidden;
  color: #fff;
}

.google-maps {
  @include x-rem(margin-bottom, 20);

  position: relative;

  iframe {
    @include x-rem(height, 20);
    @include x-rem(margin, 0 0 2);

    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 13px solid $highlight;
  }
}

.share {
	@include x-rem(margin, 3 0 0);
}


// Sponsors
.sponsors {
	ul {
		@include x-rem(margin, 0 -1);

		list-style: none;
		padding: 0;
		overflow: hidden;
	}

	li {
		@include x-box-sizing;
		@include x-rem(padding, 1);

		display: block;
	}
}

@media screen and (min-width: 40em) {
  .sponsors {
    li {
      display: inline;
      float: left;
      max-width: 50%;
    }
  }

  .gh .logo,
  .continum .logo,
  .codio .logo {
    background-size: auto 100%;
  }
}



// SVG logos
.logo {
  @include x-rem(margin-bottom, 1);

  display: block;
  height: 60px;
  text-indent: -333px;
  overflow: hidden;
}

.gh .logo {
  background: url(../img/gh.svg) no-repeat;
  background-size: auto 90%;
}

.codio .logo {
  background: url(../img/codio.svg) no-repeat;
  background-size: auto 100%;
}

.continum .logo {
  background: url(../img/continum.jpg) no-repeat;
  background-size: auto 100%;
}

.ndh .logo {
  background: url(../img/ndh.png) no-repeat;
  background-size: auto 100%;
}

.devmup .logo {
  background: url(../img/logo.svg) no-repeat;
  background-size: auto 100%;
  text-indent: -999px;
  width: 150px;
  height: 140px;
  margin: 1rem auto;
}
