---
layout: default
---

<section id="meetups" class="archive">
  <ul class="post-list">
    {% for post in site.posts %}
      <article>
        <header>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}

            </a>
          </h2>
          <small>
            {{ post.date | date: "%-d. %B %Y" }}
            -
            <a href="{{ post.location.url }}">{{ post.location.name }}</a>
          </small>
        </header>
        <p>
          {{ post.short }}
        </p>
      </li>
    {% endfor %}
  </ul>
</section>

{% include when.html %}

{% include sponsors.html %}

{% include map.html %}

{% include organizers.html %}
