<section class="imprint" id="imprint">
  <section class="imprint-content">
    <p class="footer-links">
      Designed with &nbsp;♥
    </p>
    <p class="footer-links">
      <a href="mailto:{{ site.email }}?subject=Devs%20Meetup">Kontakt</a> |
      <a href="/impressum.html">Impressum</a>
      |
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>


    </p>
  </section>
</section>


<!-- Google Analytics -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-41415411-1');ga('send','pageview');
</script>
