<header class="site-header">

  <div class="header-content">
    <div class="devmup">
      <h1 class="logo" role="banner">
        <a href="{{ page.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
    </div>
  </div>

  <secion class="clearfix">
    <div class="header-navigation">
      <ul>
        <li>
          <a href="{{ page.baseurl }}/">Home</a>
        </li>
        <li>
          <a href="{{ page.baseurl }}/archive.html">Archiv</a>
        </li>
        <li>
          <a href="{{ page.baseurl }}/about.html">About</a>
        </li>
      </ul>
    </div>
  </section>

</header>
