<section class="site-content">
  <section id="newsletter" class="newsletter">
    <form action="https://tinyletter.com/devsmeetup" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/devsmeetup', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

      <h2>Immer die aktuellen News</h2>

      <p>Melde dich an, um die neusten Infos per Newsletter zu erhalten.</p>

      <input type="email" name="email" id="tlemail" placeholder="deine@emailadres.se">

      <input type="hidden" value="1" name="embed">
      <input type="submit" value="Subscribe Me!">

      <p><small>Die eingegebenen Daten werden von uns und dem Service Provider tinyletter.com gespeichert. Mit dem Subscribing erklärst du dich damit einverstanden. Wir spammen nicht und geben deine E-Mail-Adresse nicht an andere weiter <span class="blue">&#9829;</span></small></p>
      </form>
  </section>
</section>
