<section class="site-organizers">
  <p>Developer MeetUp Freiburg wird organisiert von</p>

  <p class="organizers">
    <a href="http://www.ndh-websolutions.de/">
      <img src="/assets/img/t3ndh.jpg" title="">
      Nico de Haen
    </a>
    <a href="https://twitter.com/sebastiansebald">
      <img src="/assets/img/ssebald.jpg" title="">
      Sebastian Sebald
    </a>
    <a href="https://twitter.com/stmllr	">
      <img src="/assets/img/steffen.jpg" title="">
      Steffen Müller
    </a>
  </p>

  <p>Folge uns auf Twitter</p>

  <p>
    <a href="https://twitter.com/{{ site.twitter_username}}"
       class="twitter-follow-button"
       data-show-count="false"
       data-size="large">Folge @{{ site.twitter_username}}</a>
  </p>
</section>
