<section id="sponsors" class="site-content sponsors">
  <h2>Sponsoren</h2>
  <p>Vielen Dank an alle, die uns unterstützen!</p>
  <ul>
    <li class="gruenhof">
      <a href="https://www.gruenhof.org" class="logo">Grünhof</a>
    </li>
    <li class="inxmail">
      <a href="http://www.inxmail.de" class="logo">Inxmail</a>
    </li>
    <li class="patronas">
      <a href="http://www.patronas.com" class="logo">Patronas Financial Systems</a>
    </li>
    <li class="reservix">
      <a href="https://www.reservix.net" class="logo">Reservix</a>
    </li>
    <li class="haufe">
      <a href="http://work.haufegroup.io/" class="logo">Haufe Group</a>
    </li>
  </ul>
</section>