<section id="sponsors" class="site-content sponsors">
  <h2>Sponsoren</h2>
  <p>Vielen Dank an alle, die uns unterstützen.</p>
  <ul>
    <li class="codio">
      <a href="http://codio.com/" class="logo">Codio</a>

      Getränke und Snacks werden gesponsert von
      <a href="http://codio.com/">Codio</a>.
    </li>
    <li class="continum">
      <a href="https://www.continum.net/" class="logo">Continum</a>

      Die Räumlichkeiten werden gesponsert von
      <a href="https://www.continum.net/">Continum</a>.
    </li>
    <li class="inxmail">
      <a href="http://www.inxmail.de" class="logo">Inxmail</a>

      Getränke und Snacks werden gesponsert von
      <a href="http://www.inxmail.de">Inxmail</a>.
    </li>
  </ul>

</section>
