<section class="slider-when">
  <section class="site-content when" id="when">
    <h2>Wann geht's rund?</h2>

    <p>Das nächste Treffen findet am
      <strong>{{ site.posts.first.date | date: "%-d. %B %Y"}}</strong> statt. Los geht es um {{ site.posts.first.date | date: "%k:%M"}} Uhr.</p>
    <p>Das Ganze findet ab sorfort in den Räumen vom
      <a href="http://www.gruenhof.org/">Grünhof</a> in der Freiburger
      Innenstadt statt.</p>

    <section class="share">
      Sei dabei und sag’s weiter …

      <p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-related="devsmeetup" data-count="none" data-size="large">Tweet</a>
      </p>
    </section>

  </section>
</section>
