
// Headlines
h2 {
  @include x-rem(font-size, 2);
  @include x-rem(margin, 0 0 1);

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}


// Links
a {
  color: $highlight;

  &:visited {
    color: $highlight;
  }

  &:hover {
    text-decoration: none;
  }
}



/**
 * Button placeholder
 */
%button {
  @include x-rem(margin, 2 0);
  @include x-rem(padding, 0.8 2.5);
  @include x-transition(.2s);

  position: relative;
  display: inline-block;
  background: $highlight;
  color: #fff;
  text-decoration: none;

  &:hover {
    background: darken($highlight, 10%);
  }

  &:active {
    background: darken($highlight, 20%);
  }
}

.btn {
  text-align: center;

  > a {
    @extend %button;
  }
}


// Content
%container {
  @include x-rem(padding, 2);

  max-width: 40em;
  margin: 0 auto;
}

.site-content {
  @extend %container;
}

@media screen and (min-width: 30em) {
  %container {
    @include x-rem(padding, 6 2);
  }
}


// Teaser
.site-teaser {
  background: url(/assets/img/slider.jpg) no-repeat top center;
  overflow: hidden;
  color: $mainTextColor;

  .teaser-content {
    @extend %container;

    color: #fff;
    text-align: left;
    font-weight: 100;
  }

  h2, h3 {
    @include x-rem(margin, 0 0 0.625 0);

    font-weight: 100;
  }

  .btn {
    text-align: right;
    }
}


// Meetup info
.slider-meetup {
  background: url(/assets/img/slider-1.jpg) repeat top center;
  overflow: hidden;
  color: #fff;
}

@media screen and (min-width: 30em) {
  .slider-meetup {
    background-repeat: no-repeat;
  }
}
