/**
 * The page's footer
 */


.site-footer {
  background: $highlight;
  color: #fff;

  a {
    color: #fff;
  }

  .imprint-content {
    @include x-rem(padding, 2 2 3);

    max-width: 40em;
    margin: 0 auto;
  }

  .footer-links {
    @include x-rem(margin, 1 2 0);
    @include x-rem(font-size, 0.75);
    text-align: center;

    a {
      @include x-rem(padding, 0 0.5);

      text-decoration: none;
      font-weight: 400;
    }

  }
}
