// SVG logos
.logo {
  @include x-rem(margin-bottom, 1);

  display: block;
  height: 60px;
  text-indent: -333px;
  overflow: hidden;
  background-size: auto 100%;
}

.continum .logo {
  width: 240px;
  background: url(/assets/img/continum.jpg) no-repeat;
}

.gruenhof .logo {
  width: 60px;
  background: url(/assets/img/gruenhof.png) no-repeat;
}

.inxmail .logo {
  width: 223px;
  background: url(/assets/img/inxmail.jpg) no-repeat;
}

.patronas .logo {
  width: 177px;
  background: url(/assets/img/patronas.png) no-repeat;
}

.devmup .logo {
  background: url(/assets/img/logo.svg) no-repeat;
  text-indent: -999px;
  width: 150px;
  height: 140px;
  margin: 1rem auto;
}
