.google-maps {
  @include x-rem(margin-bottom, 20);

  position: relative;

  iframe {
    @include x-rem(height, 20);
    @include x-rem(margin, 0 0 2);

    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 13px solid $highlight;
  }
}
