.site-organizers {
  @include x-rem(margin-top, 3);
  @include x-rem(padding, 2 0);

  text-align: center;

  background: #fff;
  text-align: center;
}


@media screen and (min-width: 30em) {
  .site-organizers {
    @include x-rem(padding, 6 2);
  }
}

.organizers {
  a {
    @include x-rem(padding, 1.5 0);
    @include x-rem(width, 12);
    @include x-rem(font-size, 0.875);

    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: left;

    &:hover {
      img {
        @include x-transform(scale(1.05, 1.05));
      }
    }
  }

  img {
    @include x-rem(width, 4);
    @include x-rem(height, 4);
    @include x-rem(margin, -1 0.5);
    @include x-border-radius(50%);
    @include x-transition(0.2s ease-out);

    float: left;
  }

  .amp {
    @include x-rem(font-size, 1.2);
    @include x-rem(margin, 0 0.5);

    font-family: serif;
  }
}
