// Newsletter
.newsletter {
	label {
		@include x-rem(padding-right, 0.5);
	}

	input[type="email"] {
		@include x-rem(font-size, 1);
    @include x-rem(padding, 0.9 0.9 0.75);
    @include x-rem(margin-right, 1);
    @include x-transition(.2s);

    background: #fdfdfd;
    border: 1px solid #e1e1e1;
    width: 13em;

    &:focus {
      outline: 0;
      border: 1px solid $highlight;
    }
	}

	input[type="submit"] {
		@extend %button;

    top: -1px;
		margin: 0;
		border: 0;
    font-weight: 200;

		&:focus {
			outline: 0;
		}
	}

  .blue {
    color: $highlight;
  }
}

@media screen and (min-width: 60em) {
  .newsletter {
    input[type="email"] {
      width: 20em;
    }
  }
}

.share {
	@include x-rem(margin, 3 0 0);
}
