// Speaker
.speaker-profile {
  @include x-rem(margin-top, 2);

  position: relative;
  width: 180px;

  img {
    @include x-rem(margin, 0 3 0 0);
    @include x-border-radius(50%);

    float: left;
    max-width: 160px;
    border: 5px solid #fff;
  }
}

.speaker-date {
  @include x-border-radius(50%);

  position: absolute;
  top: -30px;
  right: 0;
  background: $highlight;
  color: #fff;
  border: 5px solid #fff;
  width: 80px;
  height: 80px;
  text-align: center;

  .date {
    @include x-rem(font-size, 1.5);
    @include x-rem(margin, 0.75 0 0);

    display: block;
    line-height: 2rem;
    font-weight: 400;
  }
}

.speaker-info {
  display: none;
}

@media screen and (min-width: 60em) {
  .speaker-info {
    position: absolute;
    bottom: -170px;
    right: 20px;
    display: block;

    .info {
      @include x-border-radius(50%);
      @include x-transition(.2s);

      position: relative;
      z-index: 20;
      font-family: Georigia, serif;
      font-weight: 400;
      text-align: center;
      font-size: 1.25rem;
      background: $highlight;
      color: #fff;
      width: 30px;
      height: 30px;
      border: 5px solid #fff;

      &:hover {
        cursor: pointer;
        background: darken($highlight, 10);
      }

      &:hover ~ .text {
        display: block;
      }
    }

    .text {
      @include x-rem(padding, 0.75);
      @include x-transition(.2s);

      position: absolute;
      top: 24px;
      left: 16px;
      width: 30em;
      z-index: 10;
      display: none;
      background: $highlight;
      color: #fff;

      h3 {
        font-weight: 100;
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }

      &:hover {
        display: block;
      }

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .abstract-container {
    width: 26em;
    float: right;
  }

  .program {
    width: 100%;
  }
}