section.about
  .about-box.about--intro
    .about-content
      h3 Hi there!
      p
        | Welcome to the Devsmeetup Freiburg, a monthly hangout for technology and development enthusiasts.
      p
        | We cover a range of topics related to (software/hardware) development, project management and design. 
        | Exchange with like-minded people or just listen to the talk. We're looking forward to hearing from you 
        | and to see you at an upcoming event.
  .about-box.about--when
    .about-content
      h3 When?
      p
        | Every month's last Wednesday at 8pm (except in July & December).
      p
        | Checkout our
        |
        +link('https://www.meetup.com/Devsmeetup-Freiburg/')
          | Meetup
        |  page for more information and RSVP.
  .about-box.about--where
    .about-content
      h3 Where?
      p
        | We meet at the
        |
        +link('https://goo.gl/maps/bwvEm4nmor42')
          | Gr&uuml;nhof
        | .
        