---
layout: default
---

<div class="site-teaser">
  <div class="teaser-content clearfix">
    <div class="speaker-profile">
      <div class="speaker-date">
        <span class="date">{{ page.date | date: '%d'}}</span>
        <span class="month">{{ page.date | date: '%b'}}</span>
      </div>
      <a href="{{page.speaker.website}}"><img src="/assets/img/{{page.speaker.image}}" alt="{{page.speaker.name}}"></a>

      {% if page.speaker.description%}
      <div class="speaker-info">
        <div class="info" id="info-button">i</div>
        <div class="text">
          <h3>{{page.speaker.name}}</h3>
          {{page.speaker.description}}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="abstract-container">
      <header>
        <h2>{{ page.title}}</h2>
        <h3>von {{ page.speaker.name}}</h3>
      </header>

      {{ page.short }}

    </div>
  </div>
</div>

<section class="site-content">
  <section class="toc clearfix" id="toc">

    <div class="abstract-container program">
      <h2>Programm</h2>

      <h3>{{ page.title }}</h3>
      <h4>von {{ page.speaker.name }}</h4>

      {{content}}

      <p class="btn"><a href="{{ page.lanyard }}">Mehr Infos &amp; Anmeldung über Lanyrd</a></p>
    </div>
  </section>
</section>
