extends views/layout.pug

block content
  include views/teaser/teaser.pug
  include views/about/about.pug
  include views/social/social.pug
  include views/sponsors/sponsors.pug
  include views/team/team.pug
